<html>

    <head>
        <meta charset="UTF-8">
        <title> Kart lottery min app </title>

        <style>
            body {
                background-color: #fff2e6;
            }
            .section {
                background-color: #e6e6e6;
                border-radius: 10px;
                width: 60%;
                margin: auto;
                padding: 20px;
            }
            .series {
                width: 80%;
                margin: auto;
            }
            input {
                outline: none;
                border: none;
            }
            button {
                position: relative;
                display: inline-block;
                font-weight: bold;
                padding: 0.25em 0.5em;
                text-decoration: none;
            }
            .abb {
                font-size: 10px;
            }
            .aB {
                width: 20px;
                font-size: 5px;
            }
            #drivers {
                font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
                background-color: #e6e6e6;
            }

            #drivers td, #drivers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #drivers tr:nth-child(even){background-color: #f2f2f2;}

            #drivers tr:hover {background-color: #ddd;}

            #drivers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4CAF50;
                color: white;
            }
        </style>
    </head>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"> </script>
	<script>
		var app = angular.module("routing", []);
		app.controller("lotteryCtrl", function( $scope, $sce ) {
			var vm = this;
            vm.karts = [];
            vm.series = [];
            vm.newSeriesName = '';
            vm.newKartNumber = 1;
            vm.event = {};
            vm.olderEvents = [];
            vm.oldEventSelected = '';

            var olderEvents = localStorage.getItem('events');
            if ( olderEvents ) {
                vm.olderEvents = JSON.parse(olderEvents);
            }

            vm.save = function () {
                if ( vm.event.name == '' || vm.event.date == '' ) {
                    alert('Can not save unnamed event');
                    return;
                }
                var eventKey = vm.event.date + "_" + vm.event.name;
                localStorage.setItem(eventKey, JSON.stringify({series: vm.series, karts: vm.karts, event: vm.event}));

                var found = vm.olderEvents.find((e) => e == eventKey);
                if (!found) {
                    vm.olderEvents.push(eventKey);
                    localStorage.setItem('events', JSON.stringify(vm.olderEvents));
                }
            }

            vm.load = function () {
                var data = localStorage.getItem(vm.oldEventSelected);
                data = JSON.parse(data);
                vm.series = data.series;
                vm.karts = data.karts;
                vm.event = data.event;
            }

            vm.removeEvent = function () {
                localStorage.removeItem(vm.oldEventSelected);
                vm.olderEvents = vm.olderEvents.filter((ev) => ev != vm.oldEventSelected);
                localStorage.setItem('events', JSON.stringify(vm.olderEvents));
            }

            vm.newEvent = function () {
                vm.karts = [];
                vm.series = [];
                vm.event = {};
            }

            vm.addSeries = function() {
                var found = vm.series.find((k) => k.name == vm.newSeriesName);
                if ( found ) {
                    alert('Series already exists');
                    return;
                }
                vm.series.push({name: vm.newSeriesName, drivers: [], heats: [{id: 0, deal: false}]});
                vm.newSeriesName = '';
            }

            vm.removeSeries = function( serie ) {
                vm.series = vm.series.filter((s) => s.name != serie.name);
            }
            vm.removeKart = function() {
                vm.karts = vm.karts.filter((k) => k != vm.newKartNumber);
            }
            vm.removeDriver = function(series, driver) {
                series.drivers = series.drivers.filter((d) => d.name != driver.name);
            }

            vm.addKart = function() {
                if ( vm.newKartNumber == 0 ) {
                    alert('Kart can not be 0');
                    return;
                }
                var found = vm.karts.find((k) => k == vm.newKartNumber);
                if ( found ) {
                    alert('Kart already added');
                    return;
                }
                vm.karts.push(vm.newKartNumber);
            }

            vm.dealHeat = function (serie, heat, mustShow) {
                if (serie.drivers.length > vm.karts.length ) {
                    alert('not enough karts');
                    return;
                }

                if (heat.deal) {
                    return;
                }
                var lk = [].concat(vm.karts);
                var breakL = false;
                for ( var i = 0; i < serie.drivers.length && !breakL; i++ ) {
                    var isNew = false;
                    var kart = 0;
                    while (!isNew && !breakL) {
                        kart = Math.floor(Math.random() * lk.length); 
                        var found = serie.drivers[i].karts.find(e => e.number == lk[kart]);
                        if (!found) {
                            isNew = true;
                        } else if (lk.length <= 1) {
                            breakL = true;
                        }
                    }
                    serie.drivers[i].karts[heat.id] = { number: lk[kart], show: mustShow };
                    lk.splice(kart, 1);
                }

                // Roll back heat deal
                if (breakL) {
                    for (var i = 0; i < serie.drivers.length; i++) {
                        serie.drivers[i].karts[heat.id] = { number: 0, show: false };
                    }
                    return vm.dealAllHeat(serie, heat);
                }

                heat.deal = true;
            }

            vm.dealAllHeat = function (serie, heat) {
                return vm.dealHeat(serie, heat, true);
            }

            vm.dealNext = function (serie, heat) {
                vm.dealHeat(serie, heat, false);
                var found = false;
                for ( var i = 0; i < serie.drivers.length && !found; i++ ) {
                    if (!serie.drivers[i].karts[heat.id].show) {
                        serie.drivers[i].karts[heat.id].show = true;
                        found = true;
                    }
                }
            }

            vm.removeHeat = function( serie, heat ) {
                vm.resetHeat(serie, heat);
                serie.heats = serie.heats.filter((h) => h.id != heat.id);
            }

            vm.resetHeat = function( serie, heat ) {
                for (var i = 0; i < serie.drivers.length; i++) {
                    serie.drivers[i].karts[heat.id] = { number: 0, show: false };
                }
                heat.deal = false;
            }
		});
	</script>

	<body ng-app="routing" ng-controller="lotteryCtrl as ltc">

        <div style="width: 100%;"> 
            <div style="text-align: center">
                <h1> {{ltc.event.organization}} </h1>
                <h1> {{ltc.event.name}} </h1>
            </div>
        </div>

        <div class="section">
        <table>
        <tr><td>Organization name:</td><td><input type="text" ng-model="ltc.event.organization"> </input></td></tr>
        <tr><td>Event name:</td><td><input type="text" ng-model="ltc.event.name"> </input></td></tr>
        <tr><td>Event date:</td><td><input type="text" ng-model="ltc.event.date"> </input></td></tr>
        <tr>
            <td><button ng-click="ltc.save()"> Save </button></td>
            <td>
                <select ng-model="ltc.oldEventSelected">
                    <option ng-repeat="ev in ltc.olderEvents" value="{{ev}}">{{ev}}</option>
                </select>
            </td>
            <td><button ng-click="ltc.load()"> Load </button></td>
            <td><button ng-click="ltc.removeEvent()"> Remove </button></td>
            <td><button ng-click="ltc.newEvent()"> New </button></td></tr>
        </table>
        </div>
        <br>

        <div class="section">
        <table>
        <tr><td>Add series</td><td><input type="text" ng-model="ltc.newSeriesName"> </input></td><td><button ng-click="ltc.addSeries()"> + </button></td></tr>
        <tr>
            <td>Add kart</td><td><input type="number" ng-model="ltc.newKartNumber"> </input></td>
            <td><button ng-click="ltc.addKart()"> + </button></td>
            <td><button ng-click="ltc.removeKart()"> - </button></td></tr>
        <tr><td>Karts:</td><td> {{ltc.karts}} </td></tr>
        </table>
        </div>

        <div ng-repeat="serie in ltc.series track by $index" style="vertical-align:middle;" class="series">
            <br> <hr>

            <h2>{{serie.name}}: </h2>


            <label>Add driver:</label> <input type="text" ng-model="serie.newDriver"> </input> <button ng-click="serie.drivers.push({name: serie.newDriver, karts: []}); serie.newDriver = '';"> + </button> 
            <button style="margin-left: 10%" ng-click="serie.heats.push({id: serie.heats[serie.heats.length - 1].id + 1, deal: false})"> Add heat </button>
            <button style="margin-left: 10%" ng-click="ltc.removeSeries(serie)"> Remove series </button>

		    <table id="drivers" style="border: 1px solid black; width: 100%;">
		    	<tr> 
		    		<th style="width: 20px"> - </th>
		    		<th> Driver Name </th>
                    <th ng-repeat="h in serie.heats"> 
                         Heat #{{h.id + 1}} 
                         <button class="abb" ng-click="ltc.dealAllHeat(serie, h)"> All </button>
                         <button class="abb" ng-click="ltc.dealNext(serie, h)"> Next </button>
                         <button class="abb" ng-click="ltc.resetHeat(serie, h)"> Reset </button>
                         <button class="abb" ng-click="ltc.removeHeat(serie, h)"> Remove </button>
                    </th>
		    	</tr>

		    	<tr ng-repeat="driver in serie.drivers track by $index">
		    		<td> <button class="aB" ng-click="ltc.removeDriver( serie, driver )"> - </button> </td>
		    		<td> {{ driver.name }} </td>
                    <td ng-repeat="h in serie.heats track by $index"> <div ng-show="driver.karts[h.id].show"> {{ driver.karts[h.id].number }} </div> </td>
		    	</tr>
		    </table>

            <br>
        </div>

	</body>

</html>
